<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>
        <!--  BEGIN MAIN CONTAINER  -->
        <div class="main-container" id="container">
            <div class="overlay"></div>
            <div class="search-overlay"></div>
            <%- include('../partials/menu.ejs') %>
                <!--  BEGIN CONTENT AREA  -->
                <div id="content" class="main-content">
                    <div class="layout-px-spacing">
                        <!-- CONTENT AREA -->

                        <div class="row layout-top-spacing">
                            
                        <div class="col-md-6">
                            <%- include('../partials/messege.ejs') %>
                        </div>  

                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                                <div class="widget widget-content-area br-4">
                                    <div class="widget-one"><br>
                                        <div class="card-body">
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <h5>Cadastro de nova conta bancaria</h5>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a href="/bank/index" type="submit"
                                                            class="btn waves-effect waves-light btn-primary btn-square">Voltar</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <form action="/bank/create" method="post">
                                                <div class="row mb-4">
                                                    <div class="col">
                                                        <label for="">Banco</label>
                                                        <input type="text" class="form-control" name="bank" required
                                                            placeholder="Banco">
                                                    </div>
                                                    <div class="col">
                                                        <label for="">Tipo</label>
                                                        <input type="text" class="form-control" name="type" required
                                                            placeholder="Tipo">
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col">
                                                        <label for="">Saldo</label>
                                                        <input type="text" class="form-control" name="balance" id="balance" required
                                                            placeholder="Saldo">
                                                    </div>                                                    
                                                </div>
                                                <button type="submit" name="time" class="btn btn-primary">Salvar</button>
                                            </form>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
                    <script>
                      $(function() {
                      $('#balance').maskMoney({ decimal: '.', thousands: '', precision: 2 });
                    })
                    </script>
                    <%- include('../partials/footer.ejs') %>